<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

  <body>

    <%- include("../partials/header") %>

      <main class="container-everything">
        <div class="container-img">
          <img src="/img/productos/img-comida.png" alt="">
        </div>

        <div class="container">
          <div class="creation_product">
            <div class="container-product">
              <h1 id="product">ALIMENTO PURINA PRO PLAN ADULT 3KG</h1>
              <div class="container-price">
                <h2><span class="dashicons dashicons-cart"></span>$1000</h2>
              </div>
              <div class="container-btn-compra">
                <button>COMPRAR</button>
              </div>
              <div class="container-codigo">SKU: XXXXXXX</div>
              <div class="Envio">
                <h3>Opciones de Envio:</h3>
                <h4>Envio a Domicilio:</h4>
                <div class="text-1">Envio gratis +$xxxx en CABA y zonas de GBA
                  <p>
                    No aplica para Envios al interior
                  </p>
                </div>
                <div class="Sucursal-title">
                  <h3>Retiro a Sucursal</h3>
                  <h4>Retiro en Sucursal:</h4>
                  <p>
                    Retira sin cargo por tu sucursal preferida
                  </p>
                  <a href="#">Ver sucursales</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

      <%- include("../partials/footer") %>

        <%- include("../partials/script") %>

  </body>

</html>