<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include("../partials/header") %> 
<body>
    <%- include("../partials/head") %> 
    <main class="container-everything">
        <div class="slide-inner">
          <input class="slide-open" type="radio" id="slide-1" 
                name="slide" aria-hidden="true" hidden="" checked="checked">
          <div class="slide-item">
            <img src="/img/productos/img-comida.png">
          </div>
          <input class="slide-open" type="radio" id="slide-2" 
                name="slide" aria-hidden="true" hidden="">
          <div class="slide-item">
            <img src="/img/productos/img-comida2.png">
          </div>
          <input class="slide-open" type="radio" id="slide-3" 
                name="slide" aria-hidden="true" hidden="">
          <div class="slide-item">
            <img src="/img/productos/img-comida3.png">
          </div>
          <label for="slide-3" class="slide-control prev control-1">‹</label>
          <label for="slide-2" class="slide-control next control-1">›</label>
          <label for="slide-1" class="slide-control prev control-2">‹</label>
          <label for="slide-3" class="slide-control next control-2">›</label>
          <label for="slide-2" class="slide-control prev control-3">‹</label>
          <label for="slide-1" class="slide-control next control-3">›</label>
          <ol class="slide-indicador">
            <li>
              <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
              <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
              <label for="slide-3" class="slide-circulo">•</label>
            </li>
          </ol>
        </div>
    
      <main class="container">
        <div class="creation_product">
          <div class="container-product"><h1 id="product">Producto</h1>
            <div class="price"><h4>$2123</h4></div>
            <div class="btn-compra">
                <button type="submit" class="btn">COMPRAR</button>
            </div>
            <div class="Envio">
              <h3 class="option-envio">Opciones de Envio:</h3>
              <h4 class="domicilio-title">Envio a Domicilio:</h4>
              <div class="text-1">Envio gratis +$xxxx en CABA y zonas de GBA
                <p>
                  No aplica para Envios al interior
                </p>
              </div>
              <div class="Sucursal-title"><h3>Retiro a Sucursal</h3>
                <h4 class="branch">Retiro en Sucursal:</h4>
                <p>
                  Retira sin cargo por tu sucursal preferida
                </p>
              </div>
              <div class="Sucursal">
                <a href="#">Ver sucursales</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    
      <div class="payment-method">
        <form method="POST" action="../productCart">
            <div class="payment_method">
                <h3 class="payment">Metodo de Pago</h3>
            </div>
          <input type="hidden" name="parametre1" value="valeur1" />
          <input type="hidden" name="parametre2" value="valeur2" />
          <input type="hidden" name="parametre3" value="valeur3" />
          <input type="hidden" name="signature" value="signature"/>
          <input type="submit" name="payer" value="Payer"/>
          </form>
      </div>
    
    </main>

    <%- include("../partials/footer") %>

    <%- include("../partials/script") %>

</body>

</html>
