<footer>
    <div class="contenedor-footer info" >
        <article class="uno">
            <p><a href="">Quienes somos</a></p>
        </article>
        <article  class="uno">
            <p><a href="">Terminos y condiciones</a></p>
        </article>
    </div>
    <div class="contenedor-footer info2">
        <article>
            <p><a href="">¿Dudas?</a></p>
            <p><a href="">¿Como comprar?</a></p>
            <p><a href="">Cambios y devoluciones</a></p>
            <p><a href="">Forma de pago</a></p>
            <p><a href="">Zonas de entrega</a></p>
        </article>
    </div>
    <div class="contenedor-footer">
        <article class="footer_socialMedia-container">
            <div class="footer_socialMedia-icon">
                <a href="" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="footer_socialMedia-icon">
                <a href="" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
            <div class="footer_socialMedia-icon">
                <a href="" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <div class="footer_socialMedia-icon">
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </article>
    </div>
</footer>