<header>
    <div>
        <div class="section-top">
            <a href="/"></a>
            <img src="../img/LogoNombre.png " alt="LogoCatDog">
            </a>
        </div>
    </div>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <nav class="navbar-nav me-auto mb-2 mb-lg-0">
            <ul class="opciones">
                <li><a href="">listado</a></li>
                <li><a href="">agregar</a></li>
                <li><a href="">productos</a></li>
            </ul>
    </div>

        </nav>
</header>