footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1fa9e7;
}


.contenedor-footer {
  padding: 5px;
  margin: 5px;
}

.contenedor-footer p {
  padding: 2px;
  margin: 10px;
  font-size: 20px;
  align-items: center;
}

.uno {
  text-align: center;
}

a{
  text-decoration: none;
}

a#left{
  text-decoration: none;
  transition: all 0.4s ease;
}

a#left:hover {
  color: #5651eb;
  text-decoration-line: underline;
}

.footer_socialMedia-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  width: 100%;
  max-width: 20rem;
}

.footer_socialMedia-icon a {
  font-size: 3rem;
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.footer_socialMedia-icon a:hover {
  background-color: white;
  color: #1fa9e7;
}



@media (min-width: 576px) {
 /* footer {
    flex-direction: row;
    flex-wrap: wrap;
}

footer.main_footer .footer_socialMedia-container {
    width: 40%;
    max-width: 40%;
} */
}


@media (min-width: 1080px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer.main_footer .footer_socialMedia-container {
    width: 40%;
    max-width: 40%;
  }

  .uno {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
  }

  footer {
    justify-content: space-evenly;
  }

  .info2 article {
    text-align: center;
  }
}