@import url('header.css');
@import url('footer.css');
@import url('login.css');
@import url('productCart.css');
@import url('productdetail.css');
@import url('register.css');
@import url('style.css');
@import url('addCategory.css');
@import url('addproducts.css');
@import url('userProfile.css');
@import url('listPerros.css');
@import url("result.css");
@import url("quienesSomos.css");