/* main */
.formulario_logo img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}

.login .container h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 35px;
    color: #3BC4B0
}

.login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background: #f4f4f4
}

.login .container {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem 2rem;
    max-width: 400px;
    border:solid 1px #3BC4B0;
    background-color: white;
}

.login .container .input-container label {
    margin-bottom: 0.5rem;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: left;
}

.login .container .input-container{
    width: 250px;
}

.login .container .input-check-container label {
    margin: 0 auto;
    color: black;
    font-style: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container,
.btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    
}

.login .container .input-container input{
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    background-color:rgb(217, 221, 243);
}


/* estilo de botones */

div.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
}

button.btn-login{
    margin: 1rem;
    padding: 0;
    width: 79%;
    height: 2.5rem;
    border-color: #0d6efd;
    background-color: white;
    border-radius: 10px;
    font-size: 17px;
}

button.btn-login:hover{
    background-color: #0d6efd;
    color: white;
}

.login .text-danger{
    color: rgba(255, 0, 0, 0.596);
}

@media(min-width: 950px){

    .login .container .input-container{
        width: 300px;
    }
}