.container-img img {
  width: 500px;
  height: 500px;
  position: relative;
  left: 12rem;
  top: 5rem;
}
  
.container-product { 
    width: 49%;
    height: 700px;
    padding: auto;
    margin: 1px;
    position: relative;
    left: 50rem;
    bottom: 25rem;
    text-align: center;
}

.container #product {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 40px;
  }

  .container-price {
    position: relative;
    right: 25rem;
    top: 2rem;
  }

  .container-btn-compra button{
    position: relative;
    right: 23rem;
    width: 5rem;
    height: 3rem;
    top: 4rem;
    color: white;
    background-color: #428bca;
    border-style: none;
    border-radius: 10px;
  }

  .Envio h3 {
    position: relative;
    right: 17rem;
    top: 8rem;
  }

  .Envio h4 {
    position: relative;
    right: 21rem;
    top: 8rem;
    text-decoration: underline;
  }

  .Sucursal-title h3 {
    position: relative;
    right: 18rem;
    top: 11rem;
  }

  .Sucursal-title h4 {
    position: relative;
    right: 21rem;
    top: 11rem;
    text-decoration: underline;
  }

  .text-1 {
    position: relative;
    right: 12rem;
    top: 10rem;
    font-size: 20px;
  }

  .Sucursal-title p {
    position: relative;
    right: 14rem;
    top: 13rem;
    font-size: 20px;
  }

  .Sucursal-title a {
    position: relative;
    font-size: 20px;
    color:blue;
    top: 17rem;
    opacity: 0.5;
  }

  .container-codigo {
    position: relative;
    right: 22rem;
    top: 6rem;
  }

  /* MEDIAQUERIES */

@media screen and (min-width: 570px) {
  
}