.container-everything{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 74rem;
}

.container-everything .escritorio {
  width: 100%;
}

.container-everything .escritorio .container-imagen img {
  margin-top: 1rem;
  width: 300px;
  height: 350px;
}

.container-everything .escritorio .container-imagen .agregar {
  background: #f129a3;
  color: var(--blanco);
  font-size: 15px;
  border-radius: 15px;
  width: 100px;
}

.container-everything .escritorio .creation_product{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 14rem;
}

.container-everything .escritorio .creation_product .container-product h1{
font-size: 23px;
color: rgb(51, 49, 49);
margin: 00.5rem;
}

.container-everything .escritorio .creation_product .container-product .container-precio{
  display: flex;
  margin-top: 2rem;
  margin-left: 00.5rem;
  color: rgb(68, 66, 66);
}

.container-everything .escritorio .creation_product .container-product .container-precio .precio{
 text-decoration: line-through;
}

.container-everything .escritorio .creation_product .container-product .container-precio .precio_descuento{
color: rgb(51, 49, 49);
font-size: 23px;
margin-left: 1rem;
font-weight: bold;
}

.container-everything .escritorio .creation_product .container-product .cantidad {
  display: flex;
  flex-direction:row;
  margin-top: 1rem; 
}

.container-everything .escritorio .creation_product .container-product .cantidad .agregar{
  margin-left: 1rem;
  background-color: #8480ef;
  color: white;
  height: 2rem;
  width: 8rem;
  border-radius: 0.5rem;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.container-everything .escritorio .creation_product .container-product .cantidad .agregar:hover {
  background-color: #535097;
}

.boton_cantidad{
  margin: 0 0.5rem;
  height: 2rem;
  width: 2rem;
  background-color: none;
  color: #8480ef;
  border-radius: 0.5rem;
  border: solid 1px black;
  font-weight: bold;
  font-size: 20px;
}

.container-everything .container-descripcion{
  margin: 0.5rem;
}

.container-everything .container-descripcion h2{
  color: #45B1CE;
  font-weight: bolder;
  font-size: 23px;
  text-align: left;
  margin-left: 0.5rem;
  margin: 1rem;
}

.container-everything .container-descripcion p{
margin: 1rem;
color: rgb(109, 105, 105);
line-height: 20px;
}

.container-everything .envio{
  color: white;
  background-color: #8480ef;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 10px rgba(35, 179, 232, 0.3);
  border-radius: 5px;
}

.container-everything .envio p{
  margin: 0.5rem;
}

  /* MEDIAQUERIES */

@media screen and (min-width: 950px) {

  .container-everything{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52rem;
  }
  
  .container-everything .escritorio {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 28rem;
    
  }

  .container-everything .escritorio .container-imagen img {
    margin-top: 2rem;
    width: 360px;
    height: 360px;
    margin-left: 80px;
    margin-right: 10px;
  }

  .container-everything .escritorio .container-imagen .agregar {
    background: #f129a3;
    color: var(--blanco);
    font-size: 20px;
    border-radius: 15px;
    width: 157px;
    height: 4rem;
    margin-left:120px;
  }

  .container-everything .escritorio .creation_product{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 14rem;
  }
  
  .container-everything .escritorio .creation_product .container-product h1{
  font-size: 25px;
  color: rgb(51, 49, 49);
  margin-top: 4rem;
  margin-left: 1.5rem;
  }
  
  .container-everything .escritorio .creation_product .container-product .container-precio{
    display: flex;
    color: rgb(68, 66, 66);
    margin: 2.5rem;
    font-size: 23px;
  }
  
  .container-everything .escritorio .creation_product .container-product .cantidad {
    display: flex;
    flex-direction:row;
    margin-top: 6rem; 
    margin-left: 2rem;
  }
  
  .container-everything .escritorio .creation_product .container-product .cantidad .agregar{
    margin-left: 1rem;
    background-color: #8480ef;
    color: white;
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .container-everything .escritorio .creation_product .container-product .cantidad .agregar:hover {
    background-color: #535097;
  }
  
  .boton_cantidad{
    margin: 0 0.5rem;
    height: 3rem;
    width: 2rem;
    background-color: none;
    color: #8480ef;
    border-radius: 0.5rem;
    border: solid 1px black;
    font-weight: bold;
    font-size: 20px;
  }

  .container-everything .container-descripcion{
    margin-left: 4rem;
    margin-top: 1rem;
  }
  
  .container-everything .container-descripcion h2{
    color: #45B1CE;
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
    margin-left: 1.5rem;
    margin: 1rem;
  }
  
  .container-everything .container-descripcion p{
  margin-left: 2rem;
  margin-right: 6rem;
  color: rgb(109, 105, 105);
  line-height: 28px;
  }

}