:root {
  --azul-oscuro: #041562;
  --azul-claro: #11468f;
  --rojo: #da1212;
  --blanco: #eeeeee;
  --font-roboto: "Roboto", sans-serif;
}

body {
  background-color: var(--blanco);
  font-family: var(--font-roboto);
  background: linear-gradient(to bottom, --azul-claro, white)
}

* {
  box-sizing: border-box;
}

/* Carousel */

.slider-frame {
width: 100%;
height: 100%;
/* margin:50px auto 0; */
overflow: hidden;
}

.slider-frame ul {
display: flex;
padding: 0;
width: 400%;

animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
width: 100%;
list-style: none;
}

.slider-frame img {
width: 100%;
}

@keyframes slide {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
100% {margin-left: -300%;}
}

/* finCarousel */

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--azul-claro);
  padding: 1rem;
}

.producto {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  color: rgb(104, 104, 104);
  width: 180px;
  /* height: 320px; */
  border: thin solid grey;
  background-color: white;
  transition: all 0.5s ease-in;
  overflow: hidden;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 1rem;
}

.producto:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.contenedor .producto .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

main section {
  margin: 10px;
  padding: 0;
  display: flex;

}

main section article p {
  font-size: 15px;
  font-weight: 501;
  display: inline-block;
}

main section article .texto strong {
  margin: 0;
  padding: 0;
  color: var(--azul-oscuro);
  display: flex;
  font-size: 15px;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section article .texto .oferta {
  color: rgb(207, 33, 33);
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

.agregar {
  padding: 10px 20px;
  background:#01C167;
  color: var(--blanco);
  font-size: 15px;
  font-weight: 500px;
  border-radius: 15px;
  cursor: pointer;
  border-color: white;
}

.producto2 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  color: rgb(104, 104, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px;
  width: 100px;
  border: thin solid grey;
  border-radius: 20px;
  background-color: white;
  transition: all 0.5s ease-in;
}

.producto2:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.producto2 img {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}

.producto p,
strong {
  color: #041562;
  text-align: center;
}

@media (min-width: 576px) {
  /* 

  main h2{
      text-align: start;
      margin: 15px 8%;
  }
  main section {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
  }
  main section article img{
      width: 200px;
  }
  main section article{
      max-width: 200px;
      margin: 10px 20px;
  }
  main section article .oferta{
      font-size: 11px;
  }
  main section article i{
      right: 10px;
      font-size: 15px;
  }
*/
}

@media (min-width: 1080px) {
  .contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--azul-claro);
    padding: 1rem;
  }

  main h2 {
    margin-left: 45px;
  }

  .opciones {
    display: flex;
    width: 80%;
    justify-content: space-evenly;

  }

  .opciones li a {
    font-size: 25px;
  }


  .usuario {
    font-size: 20px;
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
  }

  .usuario i {
    font-size: 50px;
  }

  .producto2 {
    height: 240px;
    margin-bottom: 30px;
    width: 230px;
  }

  .agregar {
    padding: 5px 10px;
  }
}