<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <main>
                <div class="row">
                    <div class="col-md-12">
                        <div class="cambios-devo">
                            <h1 class="cambio color-blue dark">CAMBIOS Y DEVOLUCIÓNES:</h1>
                            <h4>¿CÓMO REALIZO UN CAMBIO O UNA DEVOLUCIÓN?</h4>
                            <p>
                                Comunicate con nosotros por whatsapp para contarnos el motivo
                                y coordinar el cambio o devolución.
                            </p>
                            <h4>¿EN QUÉ CASOS PUEDO CAMBIAR EL PRODUCTO?</h4>
                            <p>
                                Te cambiamos el producto o te devolvemos el dinero, si el producto
                                que compraste tiene un defecto o falla de fabrica, está vencido
                                o si te llegó un producto diferente al que pediste.
                                Si no es ninguno de estos casos, pero deseás cambiarlo o devolverlo,
                                podemos cambiártelo o recibir tu devolución pero tené en cuenta
                                que se te cobrará el costo del envío.
                            </p>
                            <h4>¿CUÁNTO TIEMPO TENGO QUE SOLICITAR UNA DEVOLUCIÓN?</h4>
                            <p>
                                Tenes hasta 10 dias después de recibir el producto para solicitar
                                la devolución del mismo.
                            </p>
                            <h4>¿CUÁNTO TIEMPO TENGO PARA SOLICITAR UN CAMBIO?</h4>
                            <p>
                                Tenes hasta 30 dias después de recibir el producto para solicitar
                                el cambio.
                            </p>
                            <h4>¿TIENE ALGÚN COSTO EL CAMBIO?</h4>
                            <p>
                                Si el cambio se debe a las razones mencionadas más arriba, te enviaremos
                                el cambio sin cargo alguno. tené listo el producto que vas a cambiar
                                para entregarlo cuando te llega el cambio.
                                Si el cambio no es por estas razones, se te cobrará el costo del envío.
                            </p>
                        </div>
                    </div>
                </div>
            </main>
            <%- include("./partials/footer") %>

                <%- include("./partials/script") %>
    </body>

</html>