<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <main>
                <div class="row">
                    <div class="col-md-12">
                        <div class="como-comprar">
                            <span class="Comprar">¿CÓMO COMPRAR?</span>
                            <h4>ELECCIÓN DE PRODUCTOS:</h4>
                            <p>
                                1. Seleccioná el producto que querés comprar y hacé click en el botón “Agregar” para
                                incluirlo en tu carrito de compras. Al hacerlo, se mostrará el contenido de tu carrito
                                con el producto que agregaste.
                                2. En el carrito de compras podes modificar el número de unidades del producto que
                                querés
                                comprar y revisar el subtotal de tu compra según el medio de pago que elijas.
                                3. Podés seguir incluyendo productos a tu carrito de la misma forma antes de avanzar con
                                la
                                compra.
                                4. Cuando hayas seleccionado todos los productos que querés comprar, presioná en
                                “Finalizar
                                compra”.
                            </p>
                            <h4>PASO 1: INGRESO DE USUARIO:</h4>
                            <p>
                                1. Si aún no iniciaste sesión en el sitio, podés ingresar en este paso.
                                2. Si no tenés una cuenta en nuestro sitio, podés hacer click en “Continuar” y completar
                                los datos en el paso siguiente.
                                3. Si no querés registrarte podés avanzar sin hacerlo detildando la opción
                                correspondiente.
                            </p>
                            <h4> PASO 2: DATOS DE FACTURACIÓN:</h4>
                            <p>
                                1. Completá tus datos personales, son necesarios para la facturación.
                            </p>
                            <h4>PASO 3: ENVÍO:</h4>
                            <p>
                                1. Completá la dirección donde querés recibir tu compra. Aegurate de completarla
                                correctamente.
                                2. Elegí el día y el horario de entrega. Es importante que elijas un día y horario en el
                                que sepas que podés recibirlo.
                                3. Agregá instrucciones para la entrega en los campos correspondientes.
                            </p>
                            <h4>PASO 4: MEDIO DE PAGO:</h4>
                            <p>
                                1. Elegí el medio de pago para realizar la compra.
                                2. Revisá bien todos los datos antes de continuar.
                                3. Presioná en “Realizar el pedido” y avanzarás a pagar con MercadoPago.
                            </p>
                            <h4>PASO 5: LISTO!:</h4>
                            <p>
                                Luego de realizado el pago, verás los detlles de tu compra. ¡Gracias por confiar en
                                nosotros!.
                            </p>
                        </div>
                    </div>
                </div>
            </main>
            <%- include("./partials/footer") %>

                <%- include("./partials/script") %>
    </body>

</html>