<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main>
        <div class="row">
            <div class="col-md-12">
                <div class="Formas-De-Pago">
                    <h1>Formas de Pago</h1>
                    <h4>Tarjetas de Crédito/Débito</h4>
                    <img src="/img/logo-prisma.png" alt="Prisma">
                    <p>
                        Podés pagar con tarjeta de crédito o de Débito
                        con la seguridad de Prisma.
                    </p>
                    <img src="/img/cards-moibank.png" alt="cards-moibank">
                    <h4>Devoluciónes</h4>
                    Los plazos de devolución y el lugar donde se acreditará 
                    el reembolso dependen del medio que hayas elegido para 
                    hacer el pago mediante PRISMA.
                    <ul>
                        <li>
                            Si pagaste con tarjeta de débito, el reembolso suele
                            tardar hasta 72hs hábiles desde que te comfirmamos que
                            te hicimos el reembolso. Tene en cuenta que dependerá 
                            del banco emisor de tu tarjeta.
                        </li>
                        <li>
                            Si pagaste con tarjeta de crédito, el reembolso lo verás 
                            en el siguiente resumen desde que te confirmamos que te 
                            hicimos el reembolso. Tené en cuenta que esto dependerá 
                            del banco emisor de tu tarjeta. 
                    </li>
                    </ul>
                <p>
                    Si habiendo pasado el tiempo descripto para cada caso aún no recibiste 
                    tu dinero, te pedimos que te comuniques con nosotros para que podamos
                    revisar el estado del reembolso con el medio de pago. Así mismo podés 
                    comunicarte con el banco emisor de la tarjeta para ver el estado del mismo.
                </p>
                <img src="/img/mp0-mercadopago-1.jpg" alt="mp0-mercadopago-1">
                <h4>Tarjetas de Crédito</h4>
                <img src="/img/mp1-credito.jpg" alt="mp1-credito" class="mp1">
                <h4>Tarjetas de Débito</h4>
                <img src="/img/mp2-debito.jpg" alt="mp2-debito">
                <h4>Pago en efectivo sólo mediante Mercado Pago con los siguientes servicios</h4>
                <img src="/img/mp3-efectivo.jpg" alt="mp3-efectivo">
                <h4>Devoluciónes</h4>
                <p>
                    Los plazos de devolución y el lugar se acreditará el reembolso depende del 
                    medio que hayas elegido para hacer el pago en Mercado Pago.
                </p>
                <ul>
                    <li>
                        Si pagaste con dinero en cuenta de MercadoPago, el dinero estará en tu cuenta ni bien te confirmemos que te hicimos el reembolso.
                    </li>
                    <li>
                        Si pagaste con tarjeta de débito, el reembolso suele tardar hasta 72hs hábiles desde que te confirmamos que te hicimos el reembolso. Tené en cuenta que dependerá del banco emisor de tu tarjeta.
                    </li>
                    <li>
                        Si pagaste con tarjeta de crédito, el reembolso lo verás en el siguiente resumen desde que te confirmamos que te hicimos el reembolso. Tené en cuenta que esto dependerá del banco emisor de tu tarjeta.
                    </li>
                </ul>
                <h1>IMPORTANTE</h1>
                <p>
                    Algunos medios de pago pueden no estar disponibles al momento de realizar
                    el pago del pedido. Esto estará sujeto al disponibilidad de cada servicio.
                </p>
                </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>

                <%- include("./partials/script") %>
</body>
</html>