<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

    <body>

        <%- include("./partials/header") %>

            <main>

                <div class="carrusel">
                    <img src="/img/carrusel/1.jpg" alt="carrusel">
                </div>


                <h2> Ofertas del mes</h2>

                <section class="contenedor">
                    <a href="/producto">
                        <article class="producto">
                            <div>
                                <img src="../img/productos/1.jpg" alt="">
                            </div>
                            <hr>
                            <strong> CATCHOW 20KG</strong>
                            <strong>$ 2.500</strong>
                            <p class="oferta">40% OFF</p>
                    </a>
                    <button class="agregar">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>
                    </article>
                    <a href="/producto">
                        <article class="producto">
                            <div>
                                <img src="../img/productos/2.jpa" alt="">
                            </div>
                            <hr>
                            <strong> CATCHOW 20KG</strong>
                            <strong>$ 2.500</strong>
                            <p class="oferta">40% OFF</p>

                            <button class="agregar">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>
                    </a>
                    </article>
                    <a href="/producto">
                        <article class="producto">
                            <div>
                                <img src="../img/productos/3.jpg" alt="">
                            </div>
                            <hr>
                            <strong> CATCHOW 20KG</strong>
                            <strong>$ 2.500</strong>
                            <p class="oferta">40% OFF</p>
                    </a>
                    <button class="agregar">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>

                    </article>
                    <a href="/producto">
                        <article class="producto">
                            <div>
                                <img src="../img/productos/4.jpg" alt="">
                            </div>
                            <hr>
                            <strong> CATCHOW 20KG</strong>
                            <strong>$ 2.500</strong>
                            <p class="oferta">40% OFF</p>
                    </a>
                    <button class="agregar">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>

                    </article>
                    </article>
                    <a href="/producto">
                        <article class="producto row">
                            <div>
                                <img src="../img/productos/5.jpg" alt="">
                            </div>
                            <hr>
                            <strong> CATCHOW 20KG</strong>
                            <strong>$ 2.500</strong>
                            <p class="oferta">40% OFF</p>
                    </a>
                    <button class="agregar">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>

                    </article>
                    </article>
                    <a href="/producto">
                        <article class="producto row">
                            <div>
                                <img src="../img/productos/6.jpg" alt="">
                            </div>
                            <hr>
                            <strong> CATCHOW 20KG</strong>
                            <strong>$ 2.500</strong>
                            <p class="oferta">40% OFF</p>
                    </a>
                    <button class="agregar">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>

                    </article>
                </section>


                <h2>Seleccionar por Marca</h2>
                <section class="contenedor">


                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-whiskas.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-vitalcan.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-royalcanin.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-proplan.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-pedigree.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-nutrique.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-infinity.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-eukanuba.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-dogchow.png" alt="">
                        </div>
                    </article>

                    <article class="producto2">
                        <div>
                            <img src="../img/marcas/img-catchow.png" alt="">
                        </div>
                    </article>
                </section>
            </main>

            <%- include("./partials/footer") %>

            <%- include("./partials/script") %>
    </body>

</html>