<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <main>
                <div class="row">
                    <div class="col-md-12">
                        <div class="quienes-somos">
                            <h1>¿Qué es CatDog?</h1>
                            <p>
                                CatDog es una tienda 100% online de productos para mascotas. Comercializamos alimento de
                                todo tipo para perros y gatos, productos para la igiene y accesorios para tu mascota.
                            </p>
                            <p>
                                Ofrecemos una experiencia de compra en linea completamente simple y segura. Realizamos
                                envío rápidos a todo CABA y GBA.
                            </p>
                            <p>
                                Nuestro esfuerzo está enfocado en ofrecer el mejor servicio de atención, los mejores
                                productos y con precion totalmente accesibles.
                            </p>
                            <h4>
                                Nuestra Misión
                            </h4>
                            <p>
                                Revolucionar el retail, continuamente los procesos y la experiencia de compra para que
                                nuestros clientes dispongan de más tiempo libre.
                            </p>
                            <h4>Nuestra Visión</h4>
                            <p>
                                Convertirse en la empresa de comercio electrónico mas eficiente y eficaz de
                                LatinoAmérica,
                                centrandose en el cliente en cada paso.
                            </p>
                            <h4>Nuestros Valores</h4>
                            <p>
                                El ciente es nuestro jefe, la rapidez es nuestro negocio, busca siempre la excelencia en
                                la ejecución,
                                automatizar todos nuestros procesos, innovar y ser diferentes en todo.
                            </p>
                        </div>
                    </div>
                </div>
            </main>
            <%- include("./partials/footer") %>

                <%- include("./partials/script") %>
    </body>

</html>