<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

            <main>
                <div class="row">
                    <div class=col-md-12>
                        <div class="texto-subtitulo">
                            <span class="titulo">TÉRMINOS Y CONDICIONES DE USO DEL SITIO</span>
                            <span class="subtitulo">Versión vigente desde el 04-08-2022</span>
                            <p> Bienvenido al sitio de internet CatDog (en adelante el “Sitio”) de CatDog SAS, CUIT:
                                29-32345701-7, con domicilio en El Salvador 5218 de la Ciudad Autónoma
                                de Buenos Aires (en adelante, “CatDog”). Los términos y condiciones que se describen
                                a continuación (en adelante los Términos y Condiciones) tienen por objeto regular las
                                transacciones y el uso que realicen las personas que ingresen al Sitio (en adelante
                                el/los “Usuarios”).
                            </p>
                            <p>
                                El usuario debe leer, entender y aceptar todas las condiciones establecidas en los
                                Términos y Condiciones, asi como en los demas documentos incorporados a los mismos por
                                referencia
                            </p>
                            <p>
                                Cualquier persona que no acepte estos Términos y Condiciones deberá abstenerse de
                                navegar
                                y/o de cualquier forma de utilizar el Sitio
                            </p>
                            <h4>
                                FUNCIONAMIENTO:
                            </h4>
                            <p>
                                A través del sitio CatDog comercializa alimentos para mascotas y productos accesorios,
                                propios
                                o de terceros que los usuarios pueden adquirir, siempre que acepten los presentes
                                Términos y Condiciones. CatDog funciona como plataforma intermediaria entre vendedores y
                                compradores.
                            </p>
                            <h4>
                                COMPRA:
                            </h4>
                            <p>
                                Para adquirir un producto, el usuario debe: 1. Hacer click en el boton de Comprar del
                                producto deseado:
                                2. Elegir la cantidad deseada: 3. Elegir forma de pago entre las opciones disponibles.

                            </p>
                            <p>
                                Queda perfeccionada la oferta de compra cuando el usuario expresa su declaracion de
                                volundad de comprar haciendo
                                click en el boton de Realizar el pedido.
                            </p>
                            <p>
                                Se entiende por aceptada la oferta de compra por CatDog con la confimacion de la forma
                                de envio del producto.
                                asimismo, queda aclarado que CatDog no estará obligado a entregar el producto hasta
                                tanto haya percibido el pago,
                                cualquiera haya sido el medio utilizado.
                            </p>
                            <h4>
                                ENTREGAS:
                            </h4>
                            <p>
                                CatDog gestionará la entrega de los pedidos de los Usuarios a la puerta del
                                domicilio que el Usuario informe y hará sus mejores esfuerzos para que la entrega se
                                efectúe en el rango horario indicado en la compra, no obstante, CatDog no garantiza
                                que se logre cumplir con el rango horario referido debido a la posibilidad de que hechos
                                ajenos a la voluntad de CatDog obstaculicen la entrega en dicho horario. Asimismo,
                                queda aclarado que en ningún caso CatDog realiza un análisis acerca de la veracidad
                                del domicilio denunciado por los Usuarios, siendo éstos últimos los responsables por la
                                información provista. En caso que CatDog realice una entrega a un domicilio
                                inexistente de un Usuario, el pago de dicho envío correrá por cuenta del Usuario.
                            </p>
                            <h4>
                                CONDICIONES DE FACTURACIÓN:
                            </h4>
                            <p>
                                Al funcionar MisPichos sólo a los fines de plataforma intermediaria entre compradores
                                y vendedores, siguiente la normativa vigente, el usuario debe exigir el ticket o factura
                                al comercio que le hace entrega del pedido. Siendo el vendedor que entrega el pedido, el
                                único responsable por todas las obligaciones y cargas impositivas que correspondan por
                                la venta de productos, sin que pueda imputársele a CatDog responsabilidad alguna por
                                incumplimiento de cualquier naturaleza.
                            </p>
                            <h4>
                                CANCELACIÓN:
                            </h4>
                            <p>
                                Los compras efectuadas por los Usuarios podrán ser canceladas sin costos ni
                                penalidades
                                para estos, siempre que la cancelación se efectúe mientras el pedido se encuentre en
                                estado “procesando”, lo que se podrá confirmar en la sección “Mis pedidos” en “Mi
                                cuenta”.
                            </p>
                            <h4>
                                SANCIONES:
                            </h4>
                            <p>
                                CatDog podrá advertir, suspender en forma temporal o inhabilitar definitivamente
                                la
                                cuenta o la IP de un Usuario, iniciar las acciones que estime pertinentes, suspender la
                                prestación del Servicio, y/o anular una compra de un Usuario si (a) se quebrantara
                                alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones y demás
                                políticas de CatDog; (b) si incumpliera sus compromisos como usuario; (c) si se
                                incurriera a criterio de CatDog en conductas o actos dolosos o fraudulentos; (d) no
                                pudiera verificarse la identidad o domicilio del Usuario o cualquier información
                                proporcionada por el mismo fuere errónea.
                            </p>
                            <p>
                                Adicionalmente, CatDog podrá, por circunstancias que puedan ocurrir con
                                posterioridad a la compra realizada por el Usuario, cancelar una compra, ya sea debido a
                                limitaciones en las cantidades disponibles; por faltantes de mercadería; por falta de
                                autorización a la operación por parte de la entidad emisora o administradora de la
                                tarjeta de crédito que corresponda; o bien por problemas identificados en el
                                departamento de prevención de fraude. En dichos casos, el departamento de atención al
                                cliente se pondrá en contacto con el Usuario para informar lo acontecido y, de
                                corresponder, para solicitarle información adicional o realizar la verificación que haga
                                falta, previo a la entrega del pedido.
                            </p>
                            <p>
                                CatDog se reserva el derecho, en forma temporaria o permanente, en cualquier
                                momento o eventualmente, de modificar o discontinuar cualquier herramienta asociada con
                                el Servicio, con o sin previo aviso. En caso que el Usuario continúe utilizando el
                                Servicio, luego de las posibles modificaciones introducidas, se tendrán por aceptadas.
                            </p>
                            <p>
                                CatDog se reserva el derecho de suspender el acceso al Servicio en forma temporal
                                por motivos operatorios, incluyendo, pero no limitado, al mantenimiento, reparaciones e
                                instalaciones de actualizaciones.
                            </p>
                            <h4>
                                POLÍTICA DE DEVOLUCIÓN Y CAMBIOS:
                            </h4>
                            <p>
                                Si a través del Sitio, un Usuario adquiriese un Producto en mal estado (con moho, mal
                                cocinado, etc.), el Usuario podrá solicitar el cambio del Producto sin costo alguno o
                                bien, el reembolso de su dinero. En la medida que el comprador notifique a catdog.com
                                dentro de los 3 días de realizada la compra y la bolsa conserve por lo menos el 90% de
                                su contenido. No obstante, queda aclarado CatDog no garantiza reembolso ni recambio
                                cuando por un problema particular de la mascota (palatabilidad, problemas intestinales,
                                etc.), ésta no lo consuma.
                            </p>
                            <h4>
                                REVOCACIÓN DEL PEDIDO:
                            </h4>
                            <p>
                                De conformidad con la legislación aplicable a materia de derechos de defensa del
                                consumidor, el Usuario podrá revocar los efectos de la compra del Producto dentro de los
                                diez días contados a partir de la compra. A tal fin, dentro del plazo indicado, el
                                Usuario deberá poner el Producto adquirido a disposición de CatDog el Productos, en
                                el mismo estado en que lo recibió, sin haber sido abierto o utilizado bajo cualquier
                                forma.
                            </p>
                            <h4>
                                DISPONIBILIDAD - PRECIO DE PRODUCTOS:
                            </h4>
                            <p>
                                La información sobre Productos y precios está sujeta a cambios sin previo aviso. Todos
                                los precios expresados en el Sitio incluyen IVA, salvo que se indique lo contrario y
                                están expresados en pesos argentinos, moneda de curso legal de la República Argentina.
                                Antes de comprar, el Usuario deberá tener en cuenta que los Productos seleccionados
                                pueden no encontrarse disponibles. Toda compra se encuentra sujeta a disponibilidad.
                            </p>
                            <h4>
                                VIGENCIA DE LAS PROMOCIONES:
                            </h4>
                            <p>
                                En el caso de que se realicen ofertas y promociones de Productos, éstas tendrán
                                vigencia para las compras efectuadas desde la fecha de comienzo de las mismas, hasta su
                                finalización, según lo expuesto en el Sitio. Los términos y condiciones de las mismas
                                serán comunicados en el Sitio, y estarán siempre sujetas a la existencia en stock de los
                                Productos ofrecidos.
                            </p>
                            <p>
                                CatDog hará sus mejores esfuerzos para ser lo más preciso posible con la
                                descripción de los Productos. Sin embargo, CatDog no garantiza que las descripciones
                                o cualquier otro contenido del Sitio sea preciso, completo, confiable, actual o sin
                                errores.
                            </p>
                            <h4>
                                CAPACIDAD:
                            </h4>
                            <p>
                                Los Productos y Servicios que se ofrecen en el Sitio sólo están disponibles para
                                personas que tengan capacidad legal para contratar. No podrán adquirir Productos las
                                personas que no tengan esa capacidad, los menores de edad o Usuarios que hayan sido
                                suspendidos temporalmente o inhabilitados definitivamente. Los actos que los menores
                                realicen en el Sitio serán responsabilidad de sus padres, tutores o encargados o
                                curadores, y por tanto se considerarán realizados por éstos en ejercicio de la
                                representación legal con la que cuentan. Si el Usuario está registrado como empresa,
                                deberá tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en
                                los términos del presente.
                            </p>
                            <h4>POLÍTICA DE PRIVACIDAD:</h4>
                            <p>
                                Los datos suministrados por el Usuario (en adelante, los “Datos del Usuario”) tendrán
                                como finalidad posibilitar la compraventa de Productos y su entrega a domicilio, y sólo
                                utilizados por CatDog, sus controladas, sus cesionarios y los terceros contratistas,
                                cuando ello fuera estrictamente necesario y previa firma de un convenio de
                                confidencialidad. En ningún caso serán vendidos, alquilados o cedidos a terceros. Sin
                                perjuicio de ello, el Usuario consiente en forma expresa que CatDog transfiera total
                                o parcialmente Datos del Usuario a cualquier sociedad controlada, controlante y/o
                                vinculada con CatDog, a cualquier título y en el momento, forma y condiciones que
                                estime pertinentes. Haremos todo lo que esté a nuestro alcance para proteger la
                                privacidad de la información. Los titulares de los datos personales tienen la facultad
                                de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no
                                inferiores a seis meses, salvo que se acredite un interés legítimo al efecto, conforme
                                lo establecido en el artículo 14 inciso 3 de la Ley Nº 25.326. Asimismo podrán ejercer
                                los derechos de rectificación y supresión de los datos personales suministrados, en los
                                términos de los artículos 14 y 27 de la Ley 25.326. La DIRECCION NACIONAL DE PROTECCION
                                DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de
                                atender las denuncias y reclamos que se interpongan con relación al incumplimiento de
                                las normas sobre protección de datos personales. El Usuario acepta que CatDog
                                utilice a terceros como proveedores y socios para el hosting (alojamiento), a fin de
                                proveer el hardware, software y almacenamiento necesario y toda otra tecnología
                                requerida a fin que el Servicio funcione y a efectos de incluir nuevas funcionalidades
                                al Sitio. En tales casos, los Datos del Usuario podrán alojarse en servidores situados
                                en el extranjero. El Usuario confirma que está informado que la residencia de tales
                                Datos puede estar en el exterior de la República Argentina y autorizan la transferencia
                                internacional de sus datos. Para mayor información sobre la privacidad de los Datos
                                Personales y casos en los que será revelada la información personal.
                            </p>
                            <h4>PROPIEDAD INTELECTUAL:</h4>
                            <p>
                                Todo el material y contenidos publicados en el Sitio, incluidos, pero no limitado a
                                textos, software, gráficos, imágenes, música, videos, etc. pertenecen en titularidad a
                                CatDog o han sido otorgados a ésta última bajo legítima licencia, encontrándose
                                protegidos por derechos de propiedad.
                            </p>
                            <p>
                                El Usuario podrá utilizar la información y materiales contenidos en el Sitio
                                exclusivamente con fines privados y no comerciales. La información y materiales no
                                podrán ser utilizados, copiados, reproducidos, modificados, alterados, vendidos,
                                licenciados o explotados de cualquier otro modo, directa o indirectamente, en ningún
                                medio o soporte, para un uso distinto del estrictamente personal, ni realizar cualquier
                                otro acto que viole los derechos de propiedad intelectual de CatDog o de terceros.
                            </p>
                            <p>
                                A tal fin, el Usuario garantizan que es el único propietario de sus comentarios, que
                                el contenido es preciso y que el uso del contenido que provea no viola lo dispuesto en
                                la presente cláusula ni causa perjuicio a ninguna persona o entidad.
                            </p>
                            <h4>ENLACES:</h4>
                            <p>
                                En el Sitio pueden existir enlaces que permitan al Usuario acceder a sitios de
                                terceros. De existir dichos enlaces, los mismos no podrán interpretarse como asociación
                                de ningún tipo entre el Sitio y dichos terceros. El Usuario declara conocer que el
                                acceso a otros sitios implicará someterse a los términos y condiciones de los mismos,
                                que podrán ser distintos al presente.
                            </p>
                            <p>
                                CatDog no garantiza la legalidad, actualidad, calidad ni utilidad de los
                                contenidos, operaciones e informaciones que se comuniquen, reproduzcan y/o realicen en
                                sitios enlazados de terceros ni la ausencia de nocividad de tales contenidos o
                                servicios, por lo que el Usuario exime de toda responsabilidad a CatDog por los
                                contenidos incluidos en los referidos sitios o los servicios que en ellos se brindan o
                                promocionan.
                            </p>
                            <h4>DECLARACIONES:</h4>
                            <p>
                                CatDog no se hace responsable por la veracidad de la información incorporada en el
                                Sitio por terceros. Tampoco se hace responsable en cuanto haya sido reproducida o
                                comunicada directamente por los Usuarios del Sitio.
                            </p>
                            <p>
                                Si algún Usuario se viera afectado por la información a la que se alude en el párrafo
                                anterior, deberá comunicárselo a CatDog, por mail a hola@catdog.com o correo
                                postal a El Salvador 5218, Palermo, CABA, a fin de que se proceda a la supresión de la
                                misma.
                            </p>
                            <h4>RESPONSABILIDADES:</h4>
                            <p>
                                El Usuario es responsable de toda afirmación y/o expresión y/o acto celebrado. Mis
                                Pichos se reserva el derecho, en cualquier momento y sin necesidad de darle notificación
                                previa, de retirar cualquier envío o dar por concluido su calidad de miembro del Sitio
                                por violación de los Términos y Condiciones. En caso de que la información o los datos
                                suministrados por el Usuario no sean verdaderos, éste será responsable por los daños que
                                este hecho pudiera ocasionar.
                            </p>
                            <h4>AUSENCIA DE ASESORAMIENTO:</h4>
                            <p>
                                Bajo ninguna circunstancia podrá interpretarse que CatDog brinda asesoramiento
                                sobre el tratamiento de las mascotas. Cualquier información contenida en el Sitio sobre
                                el cuidado o alimentación de las mascotas, surge de las fuentes que en cada caso se
                                indica.
                            </p>
                            <h4>FALLAS EN EL SISTEMA:</h4>
                            <p>
                                El Usuario acepta y reconoce que el sistema no siempre podrá estar disponible debido a
                                dificultades técnicas o fallas de Internet, o por cualquier otro motivo ajeno al Sitio y
                                a CatDog, motivo por el cual no podrá imputársele responsabilidad alguna a Mis
                                Pichos. CatDog tampoco será responsable por cualquier virus que pudiera infectar el
                                equipo del Usuario como consecuencia del acceso, uso o examen del Sitio o a raíz de
                                cualquier transferencia de datos, archivos o textos, contenidos en el mismo.
                            </p>8
                            <p>
                                El Usuario acepta que la transmisión y procesamiento técnico de la información
                                asociada al Servicio, podría ser transmitido sin encriptar, y esto comprendería (a)
                                transmisiones a través de distintas redes, y (b) cambios para ajustar y adaptarse a los
                                requisitos técnicos de conexión de redes o dispositivos.
                            </p>
                            <h4>INDEPENDENCIA:</h4>
                            <p>
                                Los presentes términos y condiciones no crean ningún contrato de sociedad, de mandato,
                                de franquicia, o relación laboral entre CatDog y el Usuario. El Usuario reconoce y
                                acepta que CatDog no tiene control alguno sobre la capacidad de los Usuarios para
                                comprar artículos
                            </p>
                            <h4>INDEMNIDAD:</h4>
                            <p>
                                El Usuario indemnizará y mantendrá indemne a CatDog, sus filiales, empresas
                                controladas y/o controlantes, directivos, administradores, representantes y empleados,
                                por cualquier reclamo o demanda de otros Usuarios o terceros por las actividades del
                                Usuario y/o sus directivos y/o administradores y/o representantes y/o empleados y/o
                                agentes en el Sitio o por su incumplimiento de los Términos y Condiciones que se
                                entienden incorporados al presente o por la violación de cualesquiera leyes o derechos
                                de terceros, incluyendo los honorarios de abogados en una cantidad razonable.
                            </p>
                            <p>
                                No está permitida ninguna acción o uso de dispositivo, software, u otro medio
                                tendiente a interferir tanto en las actividades y operatoria de CatDog como en las
                                ofertas, descripciones, cuentas o bases de datos de CatDog. Cualquier intromisión,
                                tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad
                                intelectual y/o a las prohibiciones estipuladas en estos Términos y Condiciones hará a
                                su autor pasible de las acciones legales pertinentes, y a las sanciones previstas por
                                este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.
                            </p>
                            <h4>MODIFICACIÓNES DE LOS TÉRMINOS Y CONDICIONES:</h4>
                            <p>
                                CatDog podrá modificar los Términos y Condiciones en cualquier momento haciendo
                                públicos en el Sitio los términos modificados. Todos los términos modificados entrarán
                                en vigor a los 10 (diez) días de su publicación.
                            </p>
                            <h4>LESGILACIÓN APLICABLE - COMPETENCIA:</h4>
                            <p>
                                Estos Términos y Condiciones estarán regidos en todos sus puntos por las leyes
                                vigentes en la República Argentina. Cualquier controversia derivada de los presentes
                                Términos y Condiciones, su existencia, validez, interpretación, alcance o cumplimiento,
                                será sometida a la jurisdicción y competencia de los Tribunales Ordinarios en lo
                                Comercial de la Ciudad Autónoma de Buenos Aires.
                            </p>
                        </div>
                    </div>
                </div>
            </main>

            <%- include("./partials/footer") %>

                <%- include("./partials/script") %>

    </body>

</html>