<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <main>
                <div class="row">
                    <div class="col-md-12">
                        <div class="zona-entrega">
                            <h1>Zonas de entrega</h1>
                            <p>
                                Ahorrá tienpo haciendo tu compra online
                                recibiendola en la comodidad de tu casa
                                o trabajo.
                            </p>
                            <h4>Ciudad Autónoma de Buenos Aires</h4>
                            <p>
                                Lunes a Viernes
                            </p>
                            <ul>
                                <li>9 a 12hs. (comprando antes de las 8hs.)</li>
                            </ul>
                            <ul>
                                <li>12 a 18hs. (mismo dia comprando antes de las 12hs.)</li>
                            </ul>
                            <ul>
                                <li>18 a 21 hs. (mismo dia comprando antes de las 16hs.)</li>
                            </ul>
                            <p>
                                Sábados (comprando antes de las 8hs)
                            </p>
                            <ul>
                                <li>10 a 16 hs.</li>
                            </ul>
                            <h4>Zona Norte GBA</h4>
                            <p>
                                Códigos postales 1602, 1603, 1604,
                                1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613,
                                1614, 1615, 1616, 1617, 1618, 1619, 1620,
                            </p>
                            <p>
                                1621, 1623, 1624, 1636, 1637, 1638,
                                1640, 1641, 1642, 1643, 1644, 1645, 1646, 1648,
                                1659, 1661, 1663, 1665, 1667, 1669, 1670, 1671.
                            </p>
                            <p>
                                Lunes a viernes (mismo dia comprando antes de las 8 hs.)
                            </p>
                            <ul>
                                <li>10 a 18 hs.</li>
                            </ul>
                            <h4>Zona Oeste GBA</h4>
                            <p> Códigos postales 1650, 1651,
                                1652, 1653, 1655, 1657, 1672, 1674, 1675, 1676, 1678,
                                1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, </p>
                            <p>
                                1689, 1690, 1691, 1692, 1702, 1704,
                                1706, 1707, 1708, 1712, 1713, 1714, 1715, 1718,
                                1721, 1722, 1742, 1751, 1752, 1753, 1754, 1755,
                            </p>
                            <p>
                                1765, 1766, 1768, 1770, 1778, 1785
                            </p>
                            <p>
                                Lunes a viernes (mismo dia comprando antes de las 8 hs.)
                            </p>
                            <ul>
                                <li>10 a 18 hs.</li>
                            </ul>
                            <h4>Zona Sur GBA</h4>
                            <p>
                                Códigos postales 1820, 1821, 1822,
                                1823, 1824, 1825, 1826, 1827, 1828, 1832, 1833,
                                1834, 1835, 1836, 1845, 1846, 1847, 1868, 1869,
                            </p>
                            <p>
                                1870, 1872, 1873, 1874, 1875, 1876, 1877,
                                1878, 1879, 1880, 1881, 1882, 1883, 1884
                            </p>
                            <p>
                                Lunes a viernes (mismo dia comprando antes de las 8 hs.)
                            </p>
                            <ul>
                                <li>10 a 18 hs.</li>
                            </ul>
                            <p>
                                Si el pago del pedido no está concretado antes del horario indicado,
                                la entrega quedará
                                programada para el siguiente día hábil.
                            </p>
                            <p>
                                Sujeto a disponibilidad
                            </p>
                            <h4>
                                COSTO DEL ENVÍO.
                            </h4>
                            <p>
                                Podés consultar el costo del envío usando la calculadora de envío en tu carrito o en
                                cualquier página de producto.
                                En el proceso de compra se te informarán los días y horarios disponibles en los que
                                podrás programar el envío (sólo válido para CABA y códigos postales seleccionados de
                                Zona Norte, Oeste y Sur de GBA). El costo del mismo se informa en el último paso de la
                                compra una vez completados todos los datos del envío.
                            </p>
                            <h4>
                                CONDICIONES DEL ENVÍO GRATIS.
                            </h4>
                            <p>
                                Para envíos en CABA (Ciudad de Buenos Aires), Zona Norte de GBA, Zona Oeste de GBA y
                                Zona Sur de GBA (códigos postales listados más arriba), el envío será gratuito si el
                                monto total de la compra supera los $2.500. Para este monto no se toma en cuenta los
                                descuentos realizados por cupones.
                            </p>
                            <p>
                                Es importante remarcar que si el pedido no pudo entregarse por no encontrarse ninguna
                                persona autorizada a recibirlo en el domicilio en la fecha y rango horario seleccionado,
                                los consiguientes intentos de entregarlo quedarán a cargo del comprador. Esto mismo
                                ocurrirá en el caso de que el domicilio indicado sea incorrecto, por esta razón te
                                pedimos que verifiques bien los datos en el formulario de compra.
                            </p>
                            <h4>
                                PICKUP POiNT (PUNTO DE RETIRO).
                            </h4>
                            <p>
                                Si se te resulta practico a retirar tu pedido por nuestro punto de retiro de Villa
                                Crespo,
                                podés elegir esta modalidad.
                            </p>
                            <p>
                                Se retira por Lerna 642 (CABA) de Lunes a viernes 9 a 17hs. Solo dias habiles.
                            </p>
                            <p>
                                Recorda que para retirar tu pedido deberas presentar tu DNI o el DNI de la persona
                                autorizada.
                            </p>
                            <iframe style="border: 0;"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.444944209175!2d-58.43579908419407!3d-34.59290866443441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca761ba5871d%3A0x6ab891f12a59cfdd!2sLerma%20642%2C%20C1414%20CABA!5e0!3m2!1ses-419!2sar!4v1658788185548!5m2!1ses-419!2sar"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </main>

            <%- include("./partials/footer") %>

                <%- include("./partials/script") %>

    </body>

</html>