<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/link.css">
    <body>
        <footer>
            <div class="contenedor-footer info">
                <article class="uno">
                    <p><a id="left" href="">Quienes Somos</a></p>
                </article>
                <article class="uno">
                    <p><a id="left" href="">Terminos y Condiciones</a></p>
                </article>
            </div>
            <div class="contenedor-footer info2">
                <article id="href">
                    <p><a id="left" href="">¿Dudas?</a></p>
                    <p><a id="left" href="">¿Como Comprar?</a></p>
                    <p><a id="left" href="">Cambios y Devoluciones</a></p>
                    <p><a id="left" href="">Forma De Pago</a></p>
                    <p><a id="left" href="">Zonas De Entrega</a></p>
                </article>
            </div>
            <div class="contenedor-footer">
                <article class="footer_socialMedia-container">
                    <div class="footer_socialMedia-icon">
                        <a href="https://www.instagram.com/mispichos/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="https://www.facebook.com/mispichos/" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="https://ar.linkedin.com/company/puppislatam?trk=similar-pages" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="https://api.whatsapp.com/send/?phone=5491120401240&text&type=phone_number&app_absent=0" target="_blank"> 
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </article>
            </div>
        </footer>
    </body>
</html>