<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/link.css">
    <body>
        <footer>
            <div class="contenedor-footer info">
                <article class="uno">
                    <p><a id="left" href="../quienesSomos">¿Quienes Somos?</a></p>
                </article>
                <article class="uno">
                    <p><a id="left" href="../TerminosyCondiciones">Terminos y Condiciones</a></p>
                </article>
            </div>
            <div class="contenedor-footer info2">
                <article id="href">
                    <p style="color: rgb(31, 31, 107);">Dudas</p>
                    <p><a id="left" href="../ComoComprar">¿Como Comprar?</a></p>
                    <p><a id="left" href="../cambiosyDevoluciones">Cambios y Devoluciones</a></p>
                    <p><a id="left" href="../formasDePago">Forma De Pago</a></p>
                    <p><a id="left" href="../zonasDeEntrega">Zonas De Entrega</a></p>
                </article>
            </div>
            <div class="contenedor-footer">
                <article class="footer_socialMedia-container">
                    <div class="footer_socialMedia-icon">
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="https://ar.linkedin.com/" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="https://api.whatsapp.com/" target="_blank"> 
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </article>
            </div>
        </footer>
    </body>
</html>