<header>
    <div>
        <div class="section-top">
            <a href="/">
                <img src="/img/LogoNombre.png " alt="LogoCatDog">
            </a>
            <div class="conteiner-buscador">
                <form class="search-busqueda" action="/search" method="GET">
                    <input class="busqueda" type="text" id="search" placeholder="Buscar" name="keywords">
                    <button class="lupa" type="submit">
                        <i id="lupa" class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="section-bottom">
                <ul class="usuario">
                    <% if (typeof session.user !="undefined" ) { %>
                        <% if (session.user.rol===2) { %>
                            <li><a href="/admin">Admin</a></li>
                            <% } %>
                                <% } %>
                                    <% if(typeof session.user !="undefined" ) { %>
                                        <% session.user.name %>
                                            <li><a href="/usuarios/perfil">Mi Perfil</a></li>
                                            <li><a href="/usuarios/logout">Cerrar Sesión</a></li>
                                            <div class="avatar_session">
                                                <img src="/img/avatar/<%= session.user.avatar %> " alt="">
                                            </div>
                                            <% } else { %>
                                                <li><a href="/usuarios/register">Creá tu cuenta</a></li>
                                                <li><a href="/usuarios/login">Ingresá</a></li>
                                                <% } %>

                                                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                                                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <nav id="nav">
            <ul class="opciones">
                <li><a href="/perros">Perros</a></li>
                <li><a href="/gatos">Gatos</a></li>
                <li><a href="/otros">Otros</a></li>
                <li><a href="Accesorios">Accesorios</a></li>
            </ul>
        </nav>
    </div>
</header>